.navbar {
    float:right;
    margin: 15px;
    font-size: 13px;
  }
  
  .nav-item {
    text-decoration: none;
    color: black;
    margin-right: 15px;
  }
  
  .nav-item:hover {
    text-decoration: underline;
  }
  
  .main {
    margin-top: 170px;
    text-align: center;
  }
  
  body {
    display: contents;
  }
  
  .input-area {
    margin-top: 20px;
  }
  
  .input-box {
    width: 584px;
    height: 52px;
    border-radius: 32px;
    background: #ecedef;
    border: 1px solid #dfe1e5;
    padding: 0 45px 0 45px;
  }
  
  .search-icon {
    position: relative;
    left: 40px;
    color: #9aa0a6;
  }
  
  .mic-icon {
    position: relative;
    right: 40px;
    color: #444746;
  }
  
  .button-area {
    padding-top: 18px;
  }
  
  .button-style {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-size: 14px;
    font-family: Arial, Apple SD Gothic Neo, sans-serif;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
  }
  
  .button-style:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
  }
  
  .language {
    margin-top: 10px;
  }
  
  .language-item {
    text-decoration: none;
    margin: 0 5px;
  }
  
  .language-item:hover{
    text-decoration: underline;
  }
  
  .footer {
    position: absolute;
    bottom: 0px;
    background-color: #f2f2f2;
    width: 100%;
  }
  
  .first-line {
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color:#1f1f1f;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .second-line {
    padding: 15px 30px;
    font-size: 14px;
    font-family: Arial, Apple SD Gothic Neo, sans-serif;
    color: #1f1f1f;
  }
  
  .second-line-second {
    float: right;
  }
  
  .second-line-style {
    color: #1f1f1f;
    text-decoration: none;
    padding-right: 25px;
  }
  
  .second-line-style:hover {
    text-decoration: underline;
  }